# Entorno virtual
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Distribución / empaquetado
dist/
build/
*.egg-info/
*.egg

# Variables de entorno
.env
.env.local

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Sistema operativo
.DS_Store
Thumbs.db

# Pytest / testing
.pytest_cache/
.coverage
htmlcov/

# Flask
instance/
flask_session/
